@import 'antd/dist/antd.css';

nav{
  background: #333;
  text-align: center;
}

nav a{
  display: inline-block;
  padding: 20px;
  color: #aaa;
  text-decoration: none;
}

nav a.active{
  color: #fff
}